@import '../../../common/style/reset';
@import '../../../common/style/layout';
@import '../../../common/style/variable';
@import '~antd/dist/antd.css';

#collection-root {
  padding: $padding-size-s;
}

.collection-root-title {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}
