@import '../../../../common/style/variable';

.home-container-title {
  font-size: $font-size-l;
  font-weight: $font-weight-xl;
  color: $heading-color
}

.home-container-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
