@import '../../../../common/style/variable';

.custom-card-categories-img-size img {
  width: 180px;
  height: 180px;
}

.custom-card-album-img-size img {
  width: 300px;
  height: 300px;
}

.custom-card-playlist-img-size img {
  width: 300px;
  height: 300px;
}
